.cFooter{width:100%;height:5.63rem;}

.aboutBg{width:100%;height:4.57rem;position:relative;background-repeat:no-repeat;background-size:100% 100%;}
.aboutBg .lTxt1,
.aboutBg .lTxt2,
.aboutBg .lTxt3{position:absolute;top:0.86rem;left:1.40rem;width:10.56rem;height:0.50rem;line-height:0.50rem;color:#FFFFFF;font-size:0.35rem;font-weight:bold;}
.aboutBg .lTxt2{top:1.48rem;}
.aboutBg .lTxt3{top:2.36rem;}
.aboutBg .line{position:absolute;top:2.12rem;left:1.40rem;width:10.56rem;height:0.01rem;background:#FFFFFF;}
.aboutBg .btn{border:none;outline:none;text-decoration:none;border-radius:0.10rem;background:#f0f0f0;box-shadow:0px 3px 6px rgba(0,0,0,0.16);width:2.74rem;height:0.56rem;line-height:0.56rem;text-align:center;color:#C71628;font-size:0.22rem;cursor:pointer;}
.aboutBg .btn{position:absolute;top:3.04rem;left:1.40rem;}
.aboutBg .rTxt{position:absolute;top:1.02rem;left:12.81rem;width:6.00rem;line-height:0.41rem;color:#FFFFFF;font-size:0.18rem;}

.footBg{width:100%;padding:0.41rem 0 0.41rem 0;height:0.24rem;position:relative;}
.footBg .lLabel,
.footBg .mLabel{height:0.24rem;line-height:0.24rem;font-size:0.14rem;color:#371B2F;}
.footBg .lLabel{padding-left:0.36rem;width:7.00rem;float:left;}
.footBg .mLabel{position:absolute;width:4.00rem;left:50%;margin-left:-2.00rem;text-align:center;}
.footBg .logoList{padding-right:0.46rem;width:7.00rem;height:0.24rem;line-height:0.24rem;float:right;}
.footBg .logoList li{padding:0 0.12rem;border-right:0.01rem #e3e3e3 solid;height:0.24rem;line-height:0.24rem;float:right;font-size:0;}
.footBg .logoList li:first-child{border-right:0;}
.footBg .logoList .logo{display:inline-block;position:relative;top:50%;transform:translateY(-50%);}